svg {
    stroke: #000;
    stroke-width: 10;
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    animation-name: draw;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    float: left;

}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

#rundcontainer {
    float: left;
    background-color: rgba(0, 120, 140, 0.6);
    height: 25vw;
    width: 25vw;
    margin-top: 11.2vh;
    border-radius: 50%;
    text-align: center;
    font-family: "Open Sans";
    z-index: 0;
}

#rundcontainer h1 {
    z-index: 2;
    padding: 3vw;
}

#rundcontainer p {
    z-index: 2;

    padding: 1vw;

}

.overlay1 {
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
}

.overlay2 {
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
}

#rundcontainer2:hover .overlay2 {
    opacity: 1;
}

#rundcontainer:hover .overlay1 {
    opacity: 1;
}

#rundcontainer2 {
    float: left;
    background-color: rgba(0, 120, 140, 0.6);
    height: 25vw;
    width: 25vw;
    margin-top: 11.2vh;
    border-radius: 50%;
    text-align: center;
    font-family: "Open Sans";
}

#rundcontainer2 h1 {
    margin: 3vw;
}

#rundcontainer2 p {
    padding: 3vw;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    height: 100%;
    background: #f2eee3;
}

nav ul {
    text-align: center;

}

nav ul li {
    display: inline-block;

}

nav ul li a {
    font-family: "Open Sans";
    color: rgba(0, 35, 34, 0.6);
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

li a {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0;
    1),
    inset 0 0 1px rgba(225, 255, 255, 0.8);
    width: 120px;
    height: 120px;
    line-height: 115px;
    border-radius: 50%;
    display: block;
}

li a:hover {
    transition-duration: 300ms;

    background: rgba(0, 120, 140, 0.6);
}

.fclassen {
    float: left;
    padding-top: 5vh;
}

.fclassen svg {
    float: left;
}
.button{
    width: 5vw;
    height: 3vh;
    position: fixed;
    z-index: 3;    
}